/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.threadbox {
    width: 450px;
    border: 10px solid green;
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    background-color: white;
}
.commentbox {
    width: 350px;
    border: 5px solid green;
    padding: 10px;  
    margin: 10px;
    background-color: white;
}
.blackbox {
    width: 450px;
    border: 10px solid black;
    padding: 10px;
    margin: 10px;
    margin-left: 0px;
    background-color: white;
}
:target, .targeted {
    background-color: #ffa;
}