<script lang="ts">
    export let boards: string[];
</script>

<svelte:head>
	<title>Boards</title>
</svelte:head>

<h1>Boards</h1>

<h3>
{#each boards as board}
    <a href='/board/{board}'>{board}</a> <br>
{/each}
</h3>
